[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/d34dw4rd
[access "refs/for/refs/*"]
	read = group user/d34dw4rd
	push = group user/d34dw4rd
	label-Code-Review = -2..+2 group user/d34dw4rd
	label-Verified = -1..+1 group user/d34dw4rd
	rebase = group user/d34dw4rd
	removeReviewer = group user/d34dw4rd
	submit = group user/d34dw4rd
[access "refs/heads/*"]
	read = group user/d34dw4rd
	create = group user/d34dw4rd
	push = +force group user/d34dw4rd
	pushMerge = group user/d34dw4rd
[access "refs/tags/*"]
	push = +force group user/d34dw4rd
	pushTag = group user/d34dw4rd
	pushSignedTag = group user/d34dw4rd
